/* seluruh */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e88e5b4;
}

/* Container utama */
.login-container {
  display: flex;
  width: 850px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Bagian kiri */
.kiri-section {
  flex: 1;
  background: url('../assets/crayon.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.kiri-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 90, 140, 0.6); /* warna biru di bg foto crayon */
}

.kiri-section h1 {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

.kiri-section span {
  color: #ffeb3b;
}

/* Bagian kanan */
.kanan-section {
  flex: 1;
  background-color: #1e88e5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
 
}


.login-kanan {
  background-color: white;
  border-radius: 12px;
  padding: 40px;
  width: 80%;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.brand {
  color: #1e88e5;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #1e88e5;
  font-size: 12px;
  font-weight: 600;
  
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  
}

button {
  width: 100%;
  background-color: #1e88e5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1565c0;
}

/* Responsif */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }
  .kiri-section {
    height: 200px;
  }
}
